.container_feedback_official .slide-text h6{
    margin: 0 0 10px;
}
.container_feedback_official .slide-text p{
    margin: 0;
    font-size: 16px;
}
.container_feedback_official .slide-text a{
    margin: 0;
    font-size: 13px;
    -ms-flex-item-align: end;
    align-self: flex-end;
}
.container_feedback_official .slide{
    display: flex !important;
    height: 199px;
    margin-bottom: 150px;
    width: 290px;
}
.container_feedback_official .slide-img{
    margin-right: 10px;
}
.container_feedback_official .slide-text {
    display: flex;
    flex-wrap: wrap;
}
.container_feedback_official .slick-dots {
    bottom: 90px;
}
.container_feedback_official .slick-dots li button {
    width: 25px;
    height: 25px;
    background-image: url(../img/slider_marker.png);
}
.container_feedback_official .slick-dots li button:before {
    content: '';
}









.container_feedback .slide-text h6{
    margin: 0 0 10px;
}
.container_feedback .slide-text p{
    margin: 0;
    font-size: 16px;
    max-height: 145px;
    overflow-y: hidden;
}
.container_feedback .slide-text a{
    margin: 0;
    font-size: 13px;
    -ms-flex-item-align: end;
    align-self: flex-end;
}
.container_feedback .slide{
    display: flex !important;
    margin-bottom: 100px;
}
.container_feedback .slide-img{
    margin-right: 10px;
}
.container_feedback .slide-text {
    display: flex;
    flex-wrap: wrap;
}
.container_feedback .slick-dots {
    bottom: 25px;
}
.container_feedback .slick-dots li button {
    width: 25px;
    height: 25px;
    background-image: url(../img/slider_marker.png);
}
.container_feedback .slick-dots li button:before {
    content: '';
}

.button__containerrow{
    margin: 50px auto;
}


