/*Fonts*/

@font-face {
    font-family: 'Gill Sans';
    src: url('../fonts/GillSans.eot');
    src: url('../fonts/GillSans.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GillSans.woff2') format('woff2'),
        url('../fonts/GillSans.woff') format('woff'),
        url('../fonts/GillSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gill Sans';
    src: url('../fonts/GillSans-SemiBold.eot');
    src: url('../fonts/GillSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GillSans-SemiBold.woff2') format('woff2'),
        url('../fonts/GillSans-SemiBold.woff') format('woff'),
        url('../fonts/GillSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gill Sans';
    src: url('../fonts/GillSans-Bold.eot');
    src: url('../fonts/GillSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GillSans-Bold.woff2') format('woff2'),
        url('../fonts/GillSans-Bold.woff') format('woff'),
        url('../fonts/GillSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gill Sans';
    src: url('../fonts/GillSans-UltraBold.eot');
    src: url('../fonts/GillSans-UltraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GillSans-UltraBold.woff2') format('woff2'),
        url('../fonts/GillSans-UltraBold.woff') format('woff'),
        url('../fonts/GillSans-UltraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

/*Common*/

body {
    font-family: 'Gill Sans', sans-serif;
    font-size: 20px;
}

/* Header */

.container, .header__navcontainer {
    width: 1170px;
    margin: auto;
}

.c-hamburger{
    display: none;
}

.header__navcontainer, .header__logobox, .header__nav {
    display: flex;
    justify-content: space-between;
}

.header__navcontainer {
    align-items: flex-end;
}

.header__navrow {
    background: rgba(255, 255, 255, 0.2);
    padding: 10px 0;
}

.header {
    background: url('../img/header_bg.jpg') no-repeat center;
	-webkit-background-size: 100% 100%;
            background-size: 100% 100%;
    color: #fff;
    padding-bottom: 105px;
}

.header__logobox {
    align-items: center;
}

.header__logoimgbox {
    margin-right: 16px;
}

.header__logotextbox {
    max-width: 245px;
}

.header__logotextup {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
}

.header__logotextdown {
    margin-top: 0;
    font-size: 12px;
}

.header__nav {
    margin-bottom: 10px;
}

.header__navitem {
    list-style-type: none;
    margin-right: 16px;
}

.header__navlink, .footer__link {
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.header__navlink:hover, .footer__link:hover {
    font-weight: 800;
}

.header__contacts {
    padding-bottom: 10px;
}

.header__contacts a {
    display: block;
    color: #fff;
    text-decoration: none;
    text-align: right;
}

.header__phone {
    font-size: 22px;
    font-weight: bold;
}

.header__email {
    border-bottom: 1px solid #fff;
    font-weight: bold;
}

.header__titlebox {
    width: 50%;
    margin: 90px 0 56px;
}

h1, h2 {
    font-size: 44px;
    font-weight: 600;
    line-height: 1.25em;
}
h4 {
    font-size: 28px;
    font-weight: normal;
}
h5 {
    font-size: 24px;
    font-weight: 600;
}
h6 {
    font-size: 20px;
    font-weight: 600;
}

.header button {
    margin-left: 90px;
}

button {
    background: linear-gradient(to top, #d6ecfb, #4b7d9b, #d6ecfb);
    height: 62px;
    width: 360px;
    border-radius: 20px;
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    cursor: pointer;
}

button:hover, button:focus {
    outline: none;
    background: linear-gradient(to top, #aed7f3, #33617e, #aed7f3);
}

/* About */

.about {
    padding-top: 160px;
    padding-bottom: 30px;
}

.about__row {
	display: flex;
    justify-content: space-between;
    position: relative;
}

.about__imgbox {
    position: absolute;
    width: 50%;
    left: 50%;
    bottom: -60px;
}

.about__article {
    font-size: 22px;
}

.about__textbox {
    position: relative;
    width: 48%;
}

.about__molecule {
    position: absolute;
    top: -56px;
    left: 220px;
}

/* Pluses */

.pluses {
    padding-top: 140px;
    padding-bottom: 110px;
    background: url('../img/pluses_bg.png') no-repeat center;
	-webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}

.pluses__iconsrow {
	display: flex;
	justify-content: space-around;
}

.pluses__iconbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px
}

.pluses__icon {
    height: 96px;
    width: auto;
}

.pluses__icontext {
    text-align: center;
}

/* Diploma */

.diploma__row {
	display: flex;
	justify-content: space-between;
}

.diploma__imgbox{
    margin-right: 15px;
}

.diploma__imgbox img{
  position: relative;
  top: -11px;
}

.diploma__textbox {
  font-size: 22px;
}

.diploma__article{
  white-space: pre-line;
}
/* Footer */

footer {
    background: #072433;
    padding: 40px 0;
}

.footer__upperrow {
    display: flex;
    justify-content: space-between;
    color: #fff;
}
.footer__links{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer__linksrow {
  display: flex;
  flex-wrap: wrap;
}
.footer__link{
  width: 100%;
}
.footer__lowerrow{
  color: #c1c8cc;
  font-weight: 300;
  font-size: 12px;
  max-width: 750px;
  border-top: 1px solid #2c4551;
  margin: 0 auto;
  margin-top: 35px;
  padding-top: 12px;
}
.footer__lowerrow p{
  text-align: center;
  margin: 0;
}
.footer__linksrowup, .footer__linksrowdown {
    display: flex;
    justify-content: space-between;
}




/*zapros*/
#zapros{
    opacity: 0;
    width: 360px;
    height: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -230px;
    margin-top: -240px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 1px 1px 2px 2px rgba(0, 100, 161, 0.5);
    padding: 20px 50px;
    z-index: -1;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
}
#zapros form{
    margin-top: 20px;
}
#zapros p{
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    max-width: 360px;
    margin: 0 auto; 
    position: relative;
}
#zapros .exit{
    position: absolute;
    top: 14px;
    right: 20px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    transform: rotate(45deg);
    display: flex;
    cursor: pointer;
}
#zapros .exit span{
    font-size: 50px;
    font-weight: 400;
}
#zapros input{
    width: 348px;
    padding-left: 10px;
    border: 1px solid #7fb1cf;
    background-color: #ecf8ff;
    height: 37px;
    margin-bottom: 10px;
    font-size: 16px;
}
#zapros select{
    width: 359px;
    padding-left: 7px;
    border: 1px solid #a2a2a2;
    background-color: #fff;
    height: 40px;
    margin-top: 8px;  
    margin-bottom: 20px;  
    font-size: 16px;
}
#zapros textarea{
    width: 345px;
    padding-left: 10px;
    border: 1px solid #7fb1cf;
    background-color: #ecf8ff;
    height: 98px;
    margin-bottom: 28px;
    font-size: 16px;
    padding-left: 10px;
}
#zapros button{
    height: 60px;
}



/*otzyv*/
#otzyv{
    opacity: 0;
    width: 360px;
    height: 310px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -230px;
    margin-top: -185px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 1px 1px 2px 2px rgba(0, 100, 161, 0.5);
    padding: 20px 50px;
    z-index: -1;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
}
#otzyv form{
    margin-top: 20px;
}
#otzyv p{
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    max-width: 360px;
    margin: 0 auto; 
    position: relative;
}
#otzyv .exit{
    position: absolute;
    top: 14px;
    right: 20px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    transform: rotate(45deg);
    display: flex;
    cursor: pointer;
}
#otzyv .exit span{
    font-size: 50px;
    font-weight: 400;
}
#otzyv input{
    width: 348px;
    padding-left: 10px;
    border: 1px solid #7fb1cf;
    background-color: #ecf8ff;
    height: 37px;
    margin-bottom: 10px;
    font-size: 16px;
}
#otzyv textarea{
    width: 345px;
    padding-left: 10px;
    border: 1px solid #7fb1cf;
    background-color: #ecf8ff;
    height: 98px;
    margin-bottom: 28px;
    font-size: 16px;
    padding-left: 10px;
}
#otzyv button{
    height: 60px;
}





/*zapros*/
#el-zapros{
    opacity: 0;
    width: 845px;
    height: 805px;
    position: absolute;
    top: 150%;
    left: 50%;
    margin-left: -473px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 1px 1px 2px 2px rgba(0, 100, 161, 0.5);
    padding: 20px 50px;
    z-index: -1;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
}
#el-zapros form{
    margin-top: 20px;
}
#el-zapros p{
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    max-width: 360px;
    margin: 0 auto; 
    position: relative;
}
#el-zapros .exit{
    position: absolute;
    top: 14px;
    right: 20px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    transform: rotate(45deg);
    display: flex;
    cursor: pointer;
}
#el-zapros .exit span{
    font-size: 50px;
    font-weight: 400;
}
#el-zapros table{
    font-size: 16px;
    border-collapse: collapse;
}
#el-zapros td{
    border: 1px solid #7fb1cf; 
    padding: 0;
    margin: 0;
    position: relative;
    width: 50%;
}
#el-zapros .cell-text {
    padding: 12px;
}
#el-zapros tr{
    padding: 0;
    margin: 0;
}
#el-zapros input{
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    position: absolute;
    border: none;
    z-index: -1;
    background-color: #ecf8ff;
    font-size: 16px;
}
#el-zapros input::-webkit-input-placeholder {
    text-indent: 10px;
}
#el-zapros input::-moz-placeholder {
     text-indent: 10px;
 }
#el-zapros input:-moz-placeholder {
    text-indent: 10px;
}
#el-zapros input:-ms-input-placeholder {
     text-indent: 10px;
 }
#el-zapros textarea{
    width: 99%;
    height: 95px;
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    background-color: #ecf8ff;
    font-size: 16px;
}
#el-zapros .last{
    height: 75px;
}
#el-zapros .sub-text{
    font-size: 14px;
    text-align: left;
    margin: 5px 0 20px;
}
#el-zapros button{
    height: 60px;
}
