.partner p{
    margin: 0;
    text-align: center;
}   
.partner {
    margin: 15px 10px;
    height: 204px;
}
.partner img{
    margin: 0 auto;
}
.partners__container .slick-dots {
    bottom: 14px;
}
.partners__container .slick-dots li button {
    width: 25px;
    height: 25px;
    background-image: url(../img/slider_marker.png);
}
.partners__container.slick-dots .slick-active button {
    background-color: #27cbd1;
}

.partners__container .slick-dots li button:before {
    content: '';
}