.services__right{
    background-color: rgba(242, 242, 242, 1);
    height: 65px;
    display: flex;
    align-items: center;
}
.services__right p{
    text-align: right;
}
.services__left{
    background-color: rgba(215, 215, 215, 1);
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: left;
}
.services__container {
    margin-bottom: 50px;
}
.services__container p{
    margin: 0;
}
.services__container span{
    font-size: 30px;
    color: #333333;
    margin:0 10px;
}
.services__container .container{
    display: flex;
    align-items: center;
}
.services__right .container{
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.documents p{
    margin: 0;
}
.button__containerrow{
    margin: 50px auto;
}




