@font-face {
	font-family: "Museo Sans Cyrl 300";
	src: url("../fonts/Museo Sans Cyrl 300.ttf") format("truetype");
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: "Museo Sans Cyrl 500";
	src: url("../fonts/Museo Sans Cyrl 500.ttf") format("truetype");
	font-style: normal;
	font-weight: 500;
}
@font-face {
	font-family: "Century Gothic Bold";
	src: url("../fonts/GOTHICB.TTF") format("truetype");
	font-style: normal;
	font-weight: 600;
}
@font-face {
	font-family: "Century Gothic Regular";
	src: url("../fonts/GOTHIC.TTF") format("truetype");
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: "Roboto Light";
	src: url("../fonts/Roboto-Light.ttf") format("truetype");
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: "Roboto Medium";
	src: url("../fonts/Roboto-Medium.ttf") format("truetype");
	font-style: normal;
	font-weight: 500;
}
@font-face {
	font-family: "Roboto Regular";
	src: url("../fonts/Roboto-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: 400;
}